checkpoints/
.DS_Store
.venv/
.pytest_cache/
__pycache__/
*.pyc
.ipynb_checkpoints/
data/flickr8k/captions.txt
data/flickr8k/Flickr_8k.devImages.txt
data/flickr8k/Flickr_8k.testImages.txt
data/flickr8k/Flickr_8k.trainImages.txt
